h1{
    background-color: blue;
    color: cornsilk;
    text-align: center;
}
.sai{
    color: darkred;
}
#sai{
    color: darkslateblue;
}
div{
    border: orangered 2px solid;
    border-radius: 5px;
    border-width: 6px;
    padding: 5px 10px;
    margin: 5px 5px 10px 10px;
    background-color: grey;
    color: white;
    opacity: 1.0;
}
body{
    background-image: url(https://wallpapercave.com/wp/wc1786810.jpg);
    background-position: center;
    background-size: cover;
}